@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Webstie Theme */
  --themeColor: #384bff;
  --fontColor: #0f0d1d;
  --bgColor: #fff;

  /* Static Colors */
  --themeStaticColor: #384bff;
  --offWhite: #ffffffcc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* Webstie Dark Theme */
    /* 
    --themeColor: #0f0d1d;
    --fontColor: #384bff; 
    --bgColor: #212121;
    */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: var(--fontColor);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navItems>.subMenu,
.subList>.subMenu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: calc(var(--topValue) + 1.5rem);
  left: var(--leftValue);
  white-space: nowrap;
  background-color: var(--bgColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
  transition-property: opacity, visibility, top;
}
.navItems:hover>.subMenu,
.subList:hover>.subMenu {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  top: var(--topValue);
}
